<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Mediatheque</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CD
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="cd">Consulter</a></li>
           <li><a class="dropdown-item" routerLink="cd">Créer</a></li>
          </ul>
        </li>
    
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            DVD
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="dvd">Consulter</a></li>
            <li><a class="dropdown-item" routerLink="dvd">Créer</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Livre
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="livre">Consulter</a></li>
            <li><a class="dropdown-item" routerLink="livre">Créer</a></li>
          </ul>
        </li>

      </ul>

      <div class="d-flex ms-auto mb-2 mb-lg-0">
        <a class="nav-link nav-item me-2" routerLink="login">Se connecter</a>
        <a class="nav-link nav-item" routerLink="register">S'inscrire</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>